{% extends "layout.html" %}

{% block content %}

<!--
  <p> CIAO HEROKU! </p>
  <img src="https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA2NS8xNDkvb3JpZ2luYWwvYmFuYW5hcy5qcGc="/>
-->
<p> Questo è un articolo di grande bananosità. Infatti, ogni oggetto presente sul pianeta può essere visto <br>
    come una semplice estensione del concetto di banana. </p>

{% endblock %}
